/*** CSS FOR CALL TAGGER ***/
/*** Author - Nimit Mangal ***/
/*** Date - September 2 2016 - THE GAME OF HACKS 2016 ***/
/*** Company - PROPTIGER.com and MAKAAN.com ***/

@import "ellipsis";

$heading: "comfortaalight", Arial, Helvetica, sans-serif;
$bodyfont: "Open Sans", Arial, Helvetica, sans-serif;

/*** variable ***/
$link-color: #e81c28;
$link-color2: #fba510;
$dark-link-color: #e4101d;
$dark-link-color2: #8f0f16;

/*** text colors ***/
$dark-color: #1c1c1c;
$notdark-color: #555;
$light-color: #666;
$lighter-color: #999999;

$icon-color: rgb(27, 210, 152);

body {
    position: relative;
    background-color: #f3f3f3;
    color: #333;
    font-family: $bodyfont;
    font-size: 14px;
    line-height: 1.2;
    z-index: 0;
}

// H tags basics
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    font-family: $heading;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
}

.max1140 {
    max-width: 1140px;
    margin: 0 auto;
}


/* Button v2 with 2 border radius 25px and 6px  */

.btnn {
    display: inline-block;
    padding: 6px 25px;
    border: solid 1px transparent;
    border-left: solid 6px transparent;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 25px;
    color: $link-color;
    font-size: 16px;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;

    &:hover {
        text-decoration: none;
        color: $dark-link-color;
    }

    &.disabled {
        color: $lighter-color!important;
        cursor: not-allowed;
        pointer-events: none;
    }
}

.btnn-p {
    background-color: $link-color;
    color: #fff!important;
    border: none;
    border-left: solid 6px $link-color2;

    &:hover {
        background-color: $dark-link-color;
        border-left-color: $dark-link-color2;
    }

    &.disabled {
        background-color: lighten($link-color, 20%);
        border-left-color: lighten($dark-link-color2, 15%);

        &:hover {
            background-color: lighten($link-color, 20%);
            border-left-color: lighten($dark-link-color2, 15%);
        }
    }
}

.btnn-s {
    background-color: #fff;
    color: $link-color;
    border-color: $link-color;
    border-left-color: $link-color2;

    &:hover {
        background-color: $dark-link-color;
        border-color: $dark-link-color;
        border-left-color: $dark-link-color2;
        color: #fff;
    }

    &.disabled {
        background-color: darken(#fff, 20%);
        border-color: lighten($link-color, 15%);
        border-left-color: lighten($link-color2, 20%);
        color: lighten($link-color, 15%);

        &:hover {
            background-color: darken(#fff, 20%);
            border-color: lighten($link-color, 15%);
            border-left-color: lighten($link-color2, 20%);
            color: lighten($link-color, 15%);
        }
    }
}

//big btn
.bigbtn {
    padding: 20px;
    background-color: #90268f;
    border-top: solid 5px transparent;
    border-bottom: solid 5px #5f185e;
    border-radius: 15px;
    color: #fff;
    font-family: $heading;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        text-decoration: none;
        color: #fff;
        border-bottom-color: transparent;
        border-top-color: #5f185e;
    }
}

header {
    background-color: #fff;
    height: 140px;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.15);
}

.logo-wrap {
    width: 509px;
    margin: 0 auto;

    .logo {
        display: block;
        width: 100%;
        height: 140px;
        background-image: url('/img/logo.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: #fff;
        font-size: 21px;
        font-weight: bold;
        color: $link-color;
        text-indent: -999999px;
    }
}

#particles-js {
    position: absolute;
    width: 100%;
    min-height: 700px;
    background-color: #f3f3f3;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: 1;
}

#content {
    position: relative;
    min-height: 700px;
    padding: 10px 10px 0px;
    z-index: 2;
}

.feature-list {
    max-width: 980px;
    margin: 0 auto;
    padding: 80px 0;
}

.semifooter {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('/img/bg-footer.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

.select-wrap {
    padding: 30px 0px 0;
    text-align: center;

    .instruction-txt {
        font-size: 28px;
    }

    .dd-wrap {

        $ddwidth: 260px;

        position: relative;
        margin: 10px auto;
        width: $ddwidth;
        text-align: left;

        .selectbox {
            position: relative;
            @include putellipsis;
            max-width: $ddwidth;
            width: $ddwidth;
            height: 42px;
            background-color: #fff;
            border: solid 1px #ececec;
            padding: 0px 15px;
            font-size: 14px;
            line-height: 42px;
            cursor: pointer;

            .default-txt {
                color: #ccc;
            }

            i {
                display: inline-block;
                position: absolute;
                top: 10px;
                right: 10px;
                color: #ccc;
                transition: transform 0.3s ease-in-out;
            }
        }

        .dd {
            display: none;
            position: absolute;
            top: 41px;
            width: $ddwidth;
            max-height: 280px;
            border: solid 1px #ececec;
            z-index: 3;

            ul {
                padding: 0;
                margin: 0;
                list-style: none;

                > li {
                    position: relative;
                    display: block;
                    padding: 8px 5px 8px 10px;
                    background-color: #fff;
                    border-bottom: solid 1px #f6f6f6;
                    color: #999;
                    font-size: 12px;
                    text-decoration: none;
                    cursor: pointer;

                    i {
                        position: absolute;
                        top: 10px;
                        right: 8px;
                        color: green;
                    }

                    &:hover {
                        background-color: $link-color;
                        color: #fff;

                        i {
                            color: #fff;
                        }
                    }
                }
            }
        }

        &.active {
            .selectbox {
                i {
                    transform: rotate(180deg);
                }
            }
            .dd {
                display: block;
            }
        }
    }
}

#waveform {
    padding: 50px 0 0 0;
}

.afilelist-wrap {
    padding: 0 0 100px 0;

    .loader {
        padding: 50px;
        text-align: center;
        color: #ccc;
        font-size: 64px;
    }

    @keyframes loader2 {
        0% { height: 5px; transform: translateY(0px); background: #fb913b; }
        25% { height: 30px; transform: translateY(15px); background: #f5452e; }
        50% { height: 5px; transform: translateY(0px); background: #f20088; }
        100% { height: 5px; transform: translateY(0px); background: #93288a; }
    }

    .loader2 {
        position: relative;
        width: 55px;
        margin: 0 auto;

        span {
            position: absolute;
            bottom: 0px;
            display: block;
            width: 9px;
            height: 5px;
            background: #9b59b6;
            animation: loader2 1.5s  infinite ease-in-out;

            &:nth-child(2) {
                left: 11px;
                animation-delay: .2s;
            }

            &:nth-child(3) {
                left: 22px;
                animation-delay: .4s;
            }

            &:nth-child(4) {
                left: 33px;
                animation-delay: .6s;
            }

            &:nth-child(5) {
                left: 44px;
                animation-delay: .8s;
            }
        }
    }

    .afile-list {
        margin: 0;
        padding: 0;
        list-style: none;

        > li {
            margin: 50px 0 0 0;
            display: block;
        }

        .sample-name {
            padding: 10px 0 20px;
            font-size: 18px;
        }
    }

    .tag-list {
        margin: 0;
        padding: 0;
        list-style: none;

        > li {
            display: inline-block;
            margin: 0 30px 30px 0;

            &:last-child {
                margin-right: 0px;
            }
        }

        .tag {
            position: relative;
            //width: 193px;
            height: 120px;
            padding: 15px 10px 10px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.15);
            text-align: center;
            color: $lighter-color;
            font-size: 14px;

            i {
                display: block;
                width: auto;
                height: 50px;
                margin-bottom: 10px;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }

            .txt {
                line-height: 1.25;
            }

            &:after {
                display: none;
                position: absolute;
                top: -15px;
                right: -15px;
                content: '';
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-image: url(/img/tags/tick.png);
                background-color: $icon-color;
                background-repeat: no-repeat;
                background-size: 50%;
                background-position: center;
            }


            &.unit-size {
                i {
                    background-image: url(/img/tags/unit-size.png);
                }

                &.active {
                    i {
                        background-image: url(/img/tags/unit-size-active.png);
                    }
                }
            }

            &.budget {
                i {
                    background-image: url(/img/tags/budget.png);
                }

                &.active {
                    i {
                        background-image: url(/img/tags/budget-active.png);
                    }
                }
            }

            &.location {
                i {
                    background-image: url(/img/tags/location.png);
                }

                &.active {
                    i {
                        background-image: url(/img/tags/location-active.png);
                    }
                }
            }

            &.furnishing {
                i {
                    background-image: url(/img/tags/furnishing.png);
                }

                &.active {
                    i {
                        background-image: url(/img/tags/furnishing-active.png);
                    }
                }
            }

            &.possession {
                i {
                    background-image: url(/img/tags/possession.png);
                }

                &.active {
                    i {
                        background-image: url(/img/tags/possession-active.png);
                    }
                }
            }

            &.sale-type {
                i {
                    background-image: url(/img/tags/sale-type.png);
                }

                &.active {
                    i {
                        background-image: url(/img/tags/sale-type-active.png);
                    }
                }
            }

            &.parking {
                i {
                    background-image: url(/img/tags/parking.png);
                }

                &.active {
                    i {
                        background-image: url(/img/tags/parking-active.png);
                    }
                }
            }

            &.home-loan {
                i {
                    background-image: url(/img/tags/bank-loan.png);
                }

                &.active {
                    i {
                        background-image: url(/img/tags/bank-loan-active.png);
                    }
                }
            }

            &.site-visit {
                i {
                    background-image: url(/img/tags/site-visit.png);
                }

                &.active {
                    i {
                        background-image: url(/img/tags/site-visit-active.png);
                    }
                }
            }

            &.number-change {
                i {
                    background-image: url(/img/tags/number-exchange.png);
                }

                &.active {
                    i {
                        background-image: url(/img/tags/number-exchange-active.png);
                    }
                }
            }

            &.call-back {
                i {
                    background-image: url(/img/tags/call-back.png);
                }

                &.active {
                    i {
                        background-image: url(/img/tags/call-back-active.png);
                    }
                }
            }

            &.commission {
                i {
                    background-image: url(/img/tags/commission.png);
                }

                &.active {
                    i {
                        background-image: url(/img/tags/commission-active.png);
                    }
                }
            }

            &.not-available {
                i {
                    background-image: url(/img/tags/not-available.png);
                }

                &.active {
                    i {
                        background-image: url(/img/tags/not-available-active.png);
                    }
                }
            }

            &.reference {
                i {
                    background-image: url(/img/tags/reference.png);
                }

                &.active {
                    i {
                        background-image: url(/img/tags/reference-active.png);
                    }
                }
            }

            &.token {
                i {
                    background-image: url(/img/tags/token.png);
                }

                &.active {
                    i {
                        background-image: url(/img/tags/token-active.png);
                    }
                }
            }

            &.active {
                color: $icon-color;

                &:after {
                    display: block;
                }
            }
        }
    }
}

.btn-wrap {
    padding: 20px 10px 100px;
    text-align: center;
}

footer {
    height: 110px;
    padding: 5px 10px 15px;
    background-color: #ececec;
    color: #999;
    text-align: center;
}

.gohlogo {

}

.fa-heart {
    color: #E91E63;
}







