/*** CSS FOR CALL TAGGER ***/
/*** Author - Nimit Mangal ***/
/*** Date - September 2 2016 - THE GAME OF HACKS 2016 ***/
/*** Company - PROPTIGER.com and MAKAAN.com ***/

@import "ellipsis";

$heading: "comfortaalight", Arial, Helvetica, sans-serif;
$bodyfont: "Open Sans", Arial, Helvetica, sans-serif;

/*** variable ***/
$link-color: #e81c28;
$link-color2: #fba510;
$dark-link-color: #e4101d;
$dark-link-color2: #8f0f16;

/*** text colors ***/
$dark-color: #1c1c1c;
$notdark-color: #555;
$light-color: #666;
$lighter-color: #999999;

$icon-color: rgb(27, 210, 152);

body {
    position: relative;
    background-color: #f3f3f3;
    color: #333;
    font-family: $bodyfont;
    font-size: 14px;
    line-height: 1.2;
    z-index: 0;
}

//H tags basics
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    font-family: $heading;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
}

/* scale ANIMATION CLASS STARTSS */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1.035);
    }
    75% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes wobble {
  0% {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  1% {
    -webkit-transform: scale(0.086484529651881, 0.179427456557767);
            transform: scale(0.086484529651881, 0.179427456557767);
  }
  2% {
    -webkit-transform: scale(0.292554252432152, 0.545376716848168);
            transform: scale(0.292554252432152, 0.545376716848168);
  }
  3% {
    -webkit-transform: scale(0.545376716848168, 0.894404964543183);
            transform: scale(0.545376716848168, 0.894404964543183);
  }
  4% {
    -webkit-transform: scale(0.788551391390369, 1.120376016086594);
            transform: scale(0.788551391390369, 1.120376016086594);
  }
  5% {
    -webkit-transform: scale(0.985835941661639, 1.205153326404069);
            transform: scale(0.985835941661639, 1.205153326404069);
  }
  6% {
    -webkit-transform: scale(1.120376016086594, 1.184807461549862);
            transform: scale(1.120376016086594, 1.184807461549862);
  }
  7% {
    -webkit-transform: scale(1.191045818185745, 1.113400777234015);
            transform: scale(1.191045818185745, 1.113400777234015);
  }
  8% {
    -webkit-transform: scale(1.207445230574602, 1.037247338712057);
            transform: scale(1.207445230574602, 1.037247338712057);
  }
  9% {
    -webkit-transform: scale(1.184807461549862, 0.983312126349848);
            transform: scale(1.184807461549862, 0.983312126349848);
  }
  10% {
    -webkit-transform: scale(1.139672272493081, 0.959151493096828);
            transform: scale(1.139672272493081, 0.959151493096828);
  }
  11% {
    -webkit-transform: scale(1.086773838727188, 0.959207005548428);
            transform: scale(1.086773838727188, 0.959207005548428);
  }
  12% {
    -webkit-transform: scale(1.037247338712057, 0.972534530793938);
            transform: scale(1.037247338712057, 0.972534530793938);
  }
  13% {
    -webkit-transform: scale(0.998010256157525, 0.98880159678671);
            transform: scale(0.998010256157525, 0.98880159678671);
  }
  14% {
    -webkit-transform: scale(0.972031419546276, 1.001379435012348);
            transform: scale(0.972031419546276, 1.001379435012348);
  }
  15% {
    -webkit-transform: scale(0.959151493096828, 1.00783265522376);
            transform: scale(0.959151493096828, 1.00783265522376);
  }
  16% {
    -webkit-transform: scale(0.957140100254271, 1.008821093113781);
            transform: scale(0.957140100254271, 1.008821093113781);
  }
  17% {
    -webkit-transform: scale(0.96274018852263, 1.006488198218788);
            transform: scale(0.96274018852263, 1.006488198218788);
  }
  18% {
    -webkit-transform: scale(0.972534530793938, 1.003092956925791);
            transform: scale(0.972534530793938, 1.003092956925791);
  }
  19% {
    -webkit-transform: scale(0.983552526255917, 1.000221414749495);
            transform: scale(0.983552526255917, 1.000221414749495);
  }
  20% {
    -webkit-transform: scale(0.993604544681563, 0.998573305048547);
            transform: scale(0.993604544681563, 0.998573305048547);
  }
  21% {
    -webkit-transform: scale(1.001379435012348, 0.998133854506318);
            transform: scale(1.001379435012348, 0.998133854506318);
  }
  22% {
    -webkit-transform: scale(1.006367469874671, 0.998500975623806);
            transform: scale(1.006367469874671, 0.998500975623806);
  }
  23% {
    -webkit-transform: scale(1.00867876840649, 0.999191084459488);
            transform: scale(1.00867876840649, 0.999191084459488);
  }
  24% {
    -webkit-transform: scale(1.008821093113781, 0.999833501948367);
            transform: scale(1.008821093113781, 0.999833501948367);
  }
  25% {
    -webkit-transform: scale(1.007486437375814, 1.000240340703161);
            transform: scale(1.007486437375814, 1.000240340703161);
  }
  26% {
    -webkit-transform: scale(1.005378103626964, 1.000385276149533);
            transform: scale(1.005378103626964, 1.000385276149533);
  }
  27% {
    -webkit-transform: scale(1.003092956925791, 1.000339232175458);
            transform: scale(1.003092956925791, 1.000339232175458);
  }
  28% {
    -webkit-transform: scale(1.001059752569101, 1.000203385122328);
            transform: scale(1.001059752569101, 1.000203385122328);
  }
  29% {
    -webkit-transform: scale(0.999525049489696, 1.000062534362191);
            transform: scale(0.999525049489696, 1.000062534362191);
  }
  30% {
    -webkit-transform: scale(0.998573305048547, 0.999964849826148);
            transform: scale(0.998573305048547, 0.999964849826148);
  }
  31% {
    -webkit-transform: scale(0.998166624576185, 0.999922697095762);
            transform: scale(0.998166624576185, 0.999922697095762);
  }
  32% {
    -webkit-transform: scale(0.998191241770966, 0.999924761163581);
            transform: scale(0.998191241770966, 0.999924761163581);
  }
  33% {
    -webkit-transform: scale(0.998500975623806, 0.999950419122189);
            transform: scale(0.998500975623806, 0.999950419122189);
  }
  34% {
    -webkit-transform: scale(0.998951615476555, 0.999980662109647);
            transform: scale(0.998951615476555, 0.999980662109647);
  }
  35% {
    -webkit-transform: scale(0.99942365059167, 1.000003563281379);
            transform: scale(0.99942365059167, 1.000003563281379);
  }
  36% {
    -webkit-transform: scale(0.999833501948367, 1.000014970213524);
            transform: scale(0.999833501948367, 1.000014970213524);
  }
  37% {
    -webkit-transform: scale(1.000135225951195, 1.000016350718153);
            transform: scale(1.000135225951195, 1.000016350718153);
  }
  38% {
    -webkit-transform: scale(1.00031555507819, 1.000011778605271);
            transform: scale(1.00031555507819, 1.000011778605271);
  }
  39% {
    -webkit-transform: scale(1.000385276149533, 1.000005429970832);
            transform: scale(1.000385276149533, 1.000005429970832);
  }
  40% {
    -webkit-transform: scale(1.00036955135608, 1.000000175788403);
            transform: scale(1.00036955135608, 1.000000175788403);
  }
  41% {
    -webkit-transform: scale(1.000299099745054, 0.999997234930038);
            transform: scale(1.000299099745054, 0.999997234930038);
  }
  42% {
    -webkit-transform: scale(1.000203385122328, 0.999996522266158);
            transform: scale(1.000203385122328, 0.999996522266158);
  }
  43% {
    -webkit-transform: scale(1.000106253265117, 0.999997264764804);
            transform: scale(1.000106253265117, 0.999997264764804);
  }
  44% {
    -webkit-transform: scale(1.000023918238932, 0.999998563845857);
            transform: scale(1.000023918238932, 0.999998563845857);
  }
  45% {
    -webkit-transform: scale(0.999964849826148, 0.999999744931904);
            transform: scale(0.999964849826148, 0.999999744931904);
  }
  46% {
    -webkit-transform: scale(0.999930953553718, 1.000000476269022);
            transform: scale(0.999930953553718, 1.000000476269022);
  }
  47% {
    -webkit-transform: scale(0.999919425875407, 1.000000722388812);
            transform: scale(0.999919425875407, 1.000000722388812);
  }
  48% {
    -webkit-transform: scale(0.999924761163581, 1.000000621989317);
            transform: scale(0.999924761163581, 1.000000621989317);
  }
  49% {
    -webkit-transform: scale(0.999940535092441, 1.000000364142579);
            transform: scale(0.999940535092441, 1.000000364142579);
  }
  50% {
    -webkit-transform: scale(0.99996074901389, 1.000000103935755);
            transform: scale(0.99996074901389, 1.000000103935755);
  }
  51% {
    -webkit-transform: scale(0.999980662109647, 0.999999927251821);
            transform: scale(0.999980662109647, 0.999999927251821);
  }
  52% {
    -webkit-transform: scale(0.999997145282538, 0.999999853998891);
            transform: scale(0.999997145282538, 0.999999853998891);
  }
  53% {
    -webkit-transform: scale(1.000008657088084, 0.999999861387962);
            transform: scale(1.000008657088084, 0.999999861387962);
  }
  54% {
    -webkit-transform: scale(1.000014970213524, 0.999999910625746);
            transform: scale(1.000014970213524, 0.999999910625746);
  }
  55% {
    -webkit-transform: scale(1.000016775086596, 0.999999966780841);
            transform: scale(1.000016775086596, 0.999999966780841);
  }
  56% {
    -webkit-transform: scale(1.000015265384358, 1.000000008427682);
            transform: scale(1.000015265384358, 1.000000008427682);
  }
  57% {
    -webkit-transform: scale(1.000011778605271, 1.000000028536839);
            transform: scale(1.000011778605271, 1.000000028536839);
  }
  58% {
    -webkit-transform: scale(1.000007531821609, 1.000000030270993);
            transform: scale(1.000007531821609, 1.000000030270993);
  }
  59% {
    -webkit-transform: scale(1.000003464072008, 1.000000021355454);
            transform: scale(1.000003464072008, 1.000000021355454);
  }
  60% {
    -webkit-transform: scale(1.000000175788403, 1.000000009501385);
            transform: scale(1.000000175788403, 1.000000009501385);
  }
  61% {
    -webkit-transform: scale(0.999997943086903, 0.99999999989862);
            transform: scale(0.999997943086903, 0.99999999989862);
  }
  62% {
    -webkit-transform: scale(0.999996779924779, 0.999999994661554);
            transform: scale(0.999996779924779, 0.999999994661554);
  }
  63% {
    -webkit-transform: scale(0.999996522266158, 0.999999993527534);
            transform: scale(0.999996522266158, 0.999999993527534);
  }
  64% {
    -webkit-transform: scale(0.999996913355979, 0.999999995014962);
            transform: scale(0.999996913355979, 0.999999995014962);
  }
  65% {
    -webkit-transform: scale(0.999997675912265, 0.999999997456225);
            transform: scale(0.999997675912265, 0.999999997456225);
  }
  66% {
    -webkit-transform: scale(0.999998563845857, 0.999999999625199);
            transform: scale(0.999998563845857, 0.999999999625199);
  }
  67% {
    -webkit-transform: scale(0.999999391872285, 1.000000000937729);
            transform: scale(0.999999391872285, 1.000000000937729);
  }
  68% {
    -webkit-transform: scale(1.000000045503658, 1.000000001352395);
            transform: scale(1.000000045503658, 1.000000001352395);
  }
  69% {
    -webkit-transform: scale(1.000000476269022, 1.000000001139136);
            transform: scale(1.000000476269022, 1.000000001139136);
  }
  70% {
    -webkit-transform: scale(1.000000687807928, 1.000000000650779);
            transform: scale(1.000000687807928, 1.000000000650779);
  }
  71% {
    -webkit-transform: scale(1.000000718100621, 1.000000000170632);
            transform: scale(1.000000718100621, 1.000000000170632);
  }
  72% {
    -webkit-transform: scale(1.000000621989317, 0.999999999851502);
            transform: scale(1.000000621989317, 0.999999999851502);
  }
  73% {
    -webkit-transform: scale(1.000000456728239, 0.999999999724764);
            transform: scale(1.000000456728239, 0.999999999724764);
  }
  74% {
    -webkit-transform: scale(1.00000027190648, 0.999999999744926);
            transform: scale(1.00000027190648, 0.999999999744926);
  }
  75% {
    -webkit-transform: scale(1.000000103935755, 0.999999999839136);
            transform: scale(1.000000103935755, 0.999999999839136);
  }
  76% {
    -webkit-transform: scale(0.999999974491714, 0.999999999943276);
            transform: scale(0.999999974491714, 0.999999999943276);
  }
  77% {
    -webkit-transform: scale(0.999999891858109, 1.000000000018919);
            transform: scale(0.999999891858109, 1.000000000018919);
  }
  78% {
    -webkit-transform: scale(0.999999853998891, 1.000000000054265);
            transform: scale(0.999999853998891, 1.000000000054265);
  }
  79% {
    -webkit-transform: scale(0.999999852290513, 1.000000000055976);
            transform: scale(0.999999852290513, 1.000000000055976);
  }
  80% {
    -webkit-transform: scale(0.999999875091735, 1.000000000038668);
            transform: scale(0.999999875091735, 1.000000000038668);
  }
  81% {
    -webkit-transform: scale(0.999999910625746, 1.000000000016565);
            transform: scale(0.999999910625746, 1.000000000016565);
  }
  82% {
    -webkit-transform: scale(0.999999948934096, 0.999999999999035);
            transform: scale(0.999999948934096, 0.999999999999035);
  }
  83% {
    -webkit-transform: scale(0.999999982891666, 0.999999999989729);
            transform: scale(0.999999982891666, 0.999999999989729);
  }
  84% {
    -webkit-transform: scale(1.000000008427682, 0.999999999987969);
            transform: scale(1.000000008427682, 0.999999999987969);
  }
  85% {
    -webkit-transform: scale(1.000000024178711, 0.999999999990925);
            transform: scale(1.000000024178711, 0.999999999990925);
  }
  86% {
    -webkit-transform: scale(1.000000030817137, 0.999999999995506);
            transform: scale(1.000000030817137, 0.999999999995506);
  }
  87% {
    -webkit-transform: scale(1.000000030270993, 0.999999999999484);
            transform: scale(1.000000030270993, 0.999999999999484);
  }
  88% {
    -webkit-transform: scale(1.000000024997425, 1.000000000001836);
            transform: scale(1.000000024997425, 1.000000000001836);
  }
  89% {
    -webkit-transform: scale(1.000000017409911, 1.000000000002528);
            transform: scale(1.000000017409911, 1.000000000002528);
  }
  90% {
    -webkit-transform: scale(1.000000009501385, 1.000000000002084);
            transform: scale(1.000000009501385, 1.000000000002084);
  }
  91% {
    -webkit-transform: scale(1.000000002659794, 1.000000000001161);
            transform: scale(1.000000002659794, 1.000000000001161);
  }
  92% {
    -webkit-transform: scale(0.999999997642536, 1.000000000000276);
            transform: scale(0.999999997642536, 1.000000000000276);
  }
  93% {
    -webkit-transform: scale(0.999999994661554, 0.9999999999997);
            transform: scale(0.999999994661554, 0.9999999999997);
  }
  94% {
    -webkit-transform: scale(0.999999993528801, 0.999999999999482);
            transform: scale(0.999999993528801, 0.999999999999482);
  }
  95% {
    -webkit-transform: scale(0.999999993818591, 0.999999999999531);
            transform: scale(0.999999993818591, 0.999999999999531);
  }
  96% {
    -webkit-transform: scale(0.999999995014962, 0.999999999999711);
            transform: scale(0.999999995014962, 0.999999999999711);
  }
  97% {
    -webkit-transform: scale(0.999999996625079, 0.999999999999904);
            transform: scale(0.999999996625079, 0.999999999999904);
  }
  98% {
    -webkit-transform: scale(0.999999998251508, 1.000000000000041);
            transform: scale(0.999999998251508, 1.000000000000041);
  }
  99% {
    -webkit-transform: scale(0.999999999625199, 1.000000000000103);
            transform: scale(0.999999999625199, 1.000000000000103);
  }
  100% {
    -webkit-transform: scale(1.000000000606774, 1.000000000000103);
            transform: scale(1.000000000606774, 1.000000000000103);
  }
}

/* SCALE ANIMATION CLASS ENDSSS */

.max1140 {
    max-width: 1140px;
    margin: 0 auto;
}


/* Button v2 with 2 border radius 25px and 6px  */

.btnn {
    display: inline-block;
    padding: 6px 25px;
    border: solid 1px transparent;
    border-left: solid 6px transparent;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 25px;
    color: $link-color;
    font-size: 16px;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;

    &:hover {
        text-decoration: none;
        color: $dark-link-color;
    }

    &.disabled {
        color: $lighter-color!important;
        cursor: not-allowed;
        pointer-events: none;
    }
}

.btnn-p {
    background-color: $link-color;
    color: #fff!important;
    border: none;
    border-left: solid 6px $link-color2;

    &:hover {
        background-color: $dark-link-color;
        border-left-color: $dark-link-color2;
    }

    &.disabled {
        background-color: lighten($link-color, 20%);
        border-left-color: lighten($dark-link-color2, 15%);

        &:hover {
            background-color: lighten($link-color, 20%);
            border-left-color: lighten($dark-link-color2, 15%);
        }
    }
}

.btnn-s {
    background-color: #fff;
    color: $link-color;
    border-color: $link-color;
    border-left-color: $link-color2;

    &:hover {
        background-color: $dark-link-color;
        border-color: $dark-link-color;
        border-left-color: $dark-link-color2;
        color: #fff;
    }

    &.disabled {
        background-color: darken(#fff, 20%);
        border-color: lighten($link-color, 15%);
        border-left-color: lighten($link-color2, 20%);
        color: lighten($link-color, 15%);

        &:hover {
            background-color: darken(#fff, 20%);
            border-color: lighten($link-color, 15%);
            border-left-color: lighten($link-color2, 20%);
            color: lighten($link-color, 15%);
        }
    }
}

//big btn
.bigbtn {
    padding: 20px;
    background-color: #90268f;
    border-top: solid 5px transparent;
    border-bottom: solid 5px #5f185e;
    border-radius: 15px;
    color: #fff;
    font-family: $heading;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        text-decoration: none;
        color: #fff;
        border-bottom-color: transparent;
        border-top-color: #5f185e;
    }
}

header {
    background-color: #fff;
    height: 140px;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.15);
}

.logo-wrap {
    width: 509px;
    margin: 0 auto;

    .logo {
        margin-top: 0;
        display: block;
        width: 100%;
        height: 140px;
        margin: 0;
        background-image: url('/img/logo.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: #fff;
        font-size: 21px;
        font-weight: bold;
        color: $link-color;
        text-indent: -999999px;
    }
}

#particles-js {
    position: absolute;
    width: 100%;
    min-height: 800px;
    background-color: #f3f3f3;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: 1;

    .particles-js-canvas-el {
        height: 100% !important;
    }
}

#content {
    position: relative;
    min-height: 700px;
    padding: 10px 10px 0px;
    z-index: 2;
}

.feature-list {
    max-width: 980px;
    margin: 0 auto;
    padding: 80px 0 40px;

    .fl1, .fl2 {
        padding-bottom: 50px;
    }
}

/* Slider Setup */
input.forslider {
    display: none;
}

#slide1:checked ~ #slides .inner { margin-left:0; }
#slide2:checked ~ #slides .inner { margin-left:-100%; }
#slide3:checked ~ #slides .inner { margin-left:-200%; }
#slide4:checked ~ #slides .inner { margin-left:-300%; }
#slide5:checked ~ #slides .inner { margin-left:-400%; }
#slide6:checked ~ #slides .inner { margin-left:-500%; }
#slide7:checked ~ #slides .inner { margin-left:-600%; }
#slide8:checked ~ #slides .inner { margin-left:-700%; }
#slide9:checked ~ #slides .inner { margin-left:-800%; }


#overflow {
    width: 100%;
    overflow: hidden;
}

article#slider {
    width: 980px;
    margin: 0 auto 60px;

    -webkit-transform: translateZ(0);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;

    img {
        width: 100%;
    }
}

#slides {
    height: 500px;
    margin: 45px 0 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px #666;
    padding: 1%;
    background: transparent;

    .inner {
        width: calc(100%*9);
        line-height: 0;

        -webkit-transform: translateZ(0);
        -webkit-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
        -moz-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
        -ms-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
        -o-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
        transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */

        -webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
        -moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
        -ms-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
        -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
        transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
    }

    article {
        width: calc(100%/9);
        float: left;
    }
}

/* Slider Styling */

/* Control Setup */

#controls {
    margin: -28% 0 0 0;
    width: 100%;
    height: 50px;

    > label { 
        display: none;
        width: 50px;
        height: 50px;
        cursor: pointer;
        opacity: 0.3;

        -webkit-transform: translateZ(0);
        -webkit-transition: opacity 0.2s ease-out;
        -moz-transition: opacity 0.2s ease-out;
        -o-transition: opacity 0.2s ease-out;
        transition: opacity 0.2s ease-out;

        &:hover {
            opacity: 0.8;
        }
    }
} 

#active {
    margin: 26% 0 0;
    text-align: center;

    > label {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 8px;
        background: #bbb;
        cursor: pointer;

        &:hover {
            background: #ccc;
            border-color: #777 !important;
        }
    }
}

#slide1:checked ~ #controls label:nth-child(2), 
#slide2:checked ~ #controls label:nth-child(3), 
#slide3:checked ~ #controls label:nth-child(4), 
#slide4:checked ~ #controls label:nth-child(5), 
#slide5:checked ~ #controls label:nth-child(6), 
#slide6:checked ~ #controls label:nth-child(7), 
#slide7:checked ~ #controls label:nth-child(8), 
#slide8:checked ~ #controls label:nth-child(9), 
#slide9:checked ~ #controls label:nth-child(1) {
    display: block;
    float: right;
    margin: 0 -70px 0 0;
    background: url('/img/next.png') no-repeat;
}


#slide1:checked ~ #controls label:nth-child(9),
#slide2:checked ~ #controls label:nth-child(1),
#slide3:checked ~ #controls label:nth-child(2),
#slide4:checked ~ #controls label:nth-child(3),
#slide5:checked ~ #controls label:nth-child(4),
#slide6:checked ~ #controls label:nth-child(5),
#slide7:checked ~ #controls label:nth-child(6),
#slide8:checked ~ #controls label:nth-child(7),
#slide9:checked ~ #controls label:nth-child(8) {
    display: block;
    float: left;
    margin: 0 0 0 -70px;
    background: url('/img/prev.png') no-repeat;
}

#slide1:checked ~ #active label:nth-child(1),
#slide2:checked ~ #active label:nth-child(2),
#slide3:checked ~ #active label:nth-child(3),
#slide4:checked ~ #active label:nth-child(4),
#slide5:checked ~ #active label:nth-child(5),
#slide6:checked ~ #active label:nth-child(6),
#slide7:checked ~ #active label:nth-child(7),
#slide8:checked ~ #active label:nth-child(8),
#slide9:checked ~ #active label:nth-child(9) {
    background: #333;
    border-color: #333 !important;
}

#controls, #slides, #active, #active label {
    -webkit-transform: translateZ(0);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}


.semifooter {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('/img/bg-footer.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

.select-wrap {
    padding: 30px 0px 0;
    text-align: center;

    .instruction-txt {
        font-size: 28px;
    }

    .dd-wrap {

        $ddwidth: 350px;

        position: relative;
        margin: 10px auto;
        width: $ddwidth;
        text-align: left;

        .selectbox {
            position: relative;
            @include putellipsis;
            max-width: $ddwidth;
            width: $ddwidth;
            height: 42px;
            background-color: #fff;
            border: solid 1px #ececec;
            padding: 0px 32px 0 15px;
            overflow: hidden;
            font-size: 14px;
            line-height: 42px;
            cursor: pointer;
            text-overflow: ellipsis;


            .default-txt {
                color: #ccc;
            }

            i {
                display: inline-block;
                position: absolute;
                top: 10px;
                right: 10px;
                color: #ccc;
                transition: transform 0.3s ease-in-out;
            }
        }

        .dd {
            display: none;
            position: absolute;
            top: 41px;
            width: $ddwidth;
            max-height: 280px;
            border: solid 1px #ececec;
            z-index: 3;

            ul {
                padding: 0;
                margin: 0;
                list-style: none;

                > li {
                    position: relative;
                    display: block;
                    padding: 8px 30px 8px 10px;
                    background-color: #fff;
                    border-bottom: solid 1px #f6f6f6;
                    color: #999;
                    font-size: 12px;
                    text-decoration: none;
                    cursor: pointer;
                    text-overflow: ellipsis;
                    overflow: hidden;

                    i {
                        position: absolute;
                        top: 10px;
                        right: 8px;
                        color: green;
                    }

                    &:hover {
                        background-color: $link-color;
                        color: #fff;

                        i {
                            color: #fff;
                        }
                    }
                }
            }
        }

        &.active {
            .selectbox {
                i {
                    transform: rotate(180deg);
                }
            }
            .dd {
                display: block;
            }
        }
    }
}

#waveform {
    padding: 50px 0 0 0;
}

.afilelist-wrap {
    padding: 0 0 100px 0;

    .loader {
        padding: 50px;
        text-align: center;
        color: #ccc;
        font-size: 64px;
    }

    @keyframes loader2 {
        0% { height: 5px; transform: translateY(0px); background: #fb913b; }
        25% { height: 30px; transform: translateY(15px); background: #f5452e; }
        50% { height: 5px; transform: translateY(0px); background: #f20088; }
        100% { height: 5px; transform: translateY(0px); background: #93288a; }
    }

    .loader2 {
        position: relative;
        width: 55px;
        margin: 100px auto;

        span {
            position: absolute;
            bottom: 0px;
            display: block;
            width: 9px;
            height: 5px;
            background: #9b59b6;
            animation: loader2 1.5s  infinite ease-in-out;

            &:nth-child(2) {
                left: 11px;
                animation-delay: .2s;
            }

            &:nth-child(3) {
                left: 22px;
                animation-delay: .4s;
            }

            &:nth-child(4) {
                left: 33px;
                animation-delay: .6s;
            }

            &:nth-child(5) {
                left: 44px;
                animation-delay: .8s;
            }
        }
    }

    .afile-list {
        margin: 0;
        padding: 0;
        list-style: none;

        > li {
            margin: 50px 0 0 0;
            display: block;
        }

        .sample-name {
            padding: 10px 0 20px;
            font-size: 18px;
        }
    }

    .tag-list {
        margin: 0;
        padding: 0;
        list-style: none;

        > li {
            display: inline-block;
            margin: 0 30px 30px 0;

            &:last-child {
                margin-right: 0px;
            }
        }

        .tag {
            position: relative;
            //width: 193px;
            height: 120px;
            padding: 15px 10px 10px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.15);
            text-align: center;
            color: $lighter-color;
            font-size: 14px;

            i {
                display: block;
                width: auto;
                height: 50px;
                margin-bottom: 10px;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }

            .txt {
                line-height: 1.25;
            }

            &:after {
                display: none;
                position: absolute;
                top: -15px;
                right: -15px;
                content: '';
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-image: url(/img/tags/tick.png);
                background-color: $icon-color;
                background-repeat: no-repeat;
                background-size: 50%;
                background-position: center;
            }


            &.unit-size {
                i {
                    background-image: url(/img/tags/unit-size.png);
                }

                &.active {
                    i {
                        background-image: url(/img/tags/unit-size-active.png);
                    }
                }
            }

            &.budget {
                i {
                    background-image: url(/img/tags/budget.png);
                }

                &.active {
                    i {
                        background-image: url(/img/tags/budget-active.png);
                    }
                }
            }

            &.location {
                i {
                    background-image: url(/img/tags/location.png);
                }

                &.active {
                    i {
                        background-image: url(/img/tags/location-active.png);
                    }
                }
            }

            &.furnishing {
                i {
                    background-image: url(/img/tags/furnishing.png);
                }

                &.active {
                    i {
                        background-image: url(/img/tags/furnishing-active.png);
                    }
                }
            }

            &.possession {
                i {
                    background-image: url(/img/tags/possession.png);
                }

                &.active {
                    i {
                        background-image: url(/img/tags/possession-active.png);
                    }
                }
            }

            &.sale-type {
                i {
                    background-image: url(/img/tags/sale-type.png);
                }

                &.active {
                    i {
                        background-image: url(/img/tags/sale-type-active.png);
                    }
                }
            }

            &.parking {
                i {
                    background-image: url(/img/tags/parking.png);
                }

                &.active {
                    i {
                        background-image: url(/img/tags/parking-active.png);
                    }
                }
            }

            &.home-loan {
                i {
                    background-image: url(/img/tags/bank-loan.png);
                }

                &.active {
                    i {
                        background-image: url(/img/tags/bank-loan-active.png);
                    }
                }
            }

            &.site-visit {
                i {
                    background-image: url(/img/tags/site-visit.png);
                }

                &.active {
                    i {
                        background-image: url(/img/tags/site-visit-active.png);
                    }
                }
            }

            &.number-change {
                i {
                    background-image: url(/img/tags/number-exchange.png);
                }

                &.active {
                    i {
                        background-image: url(/img/tags/number-exchange-active.png);
                    }
                }
            }

            &.call-back {
                i {
                    background-image: url(/img/tags/call-back.png);
                }

                &.active {
                    i {
                        background-image: url(/img/tags/call-back-active.png);
                    }
                }
            }

            &.commission {
                i {
                    background-image: url(/img/tags/commission.png);
                }

                &.active {
                    i {
                        background-image: url(/img/tags/commission-active.png);
                    }
                }
            }

            &.not-available {
                i {
                    background-image: url(/img/tags/not-available.png);
                }

                &.active {
                    i {
                        background-image: url(/img/tags/not-available-active.png);
                    }
                }
            }

            &.reference {
                i {
                    background-image: url(/img/tags/reference.png);
                }

                &.active {
                    i {
                        background-image: url(/img/tags/reference-active.png);
                    }
                }
            }

            &.token {
                i {
                    background-image: url(/img/tags/token.png);
                }

                &.active {
                    i {
                        background-image: url(/img/tags/token-active.png);
                    }
                }
            }

            &.active {
                color: $icon-color;
                animation: 1.5s pulse linear;

                &:after {
                    display: block;
                }
            }
        }
    }
}

.btn-wrap {
    padding: 20px 10px 100px;
    text-align: center;
}

footer {
    height: 110px;
    padding: 5px 10px 15px;
    background-color: #ececec;
    color: #999;
    text-align: center;
}

.gohlogo {

}

.fa-heart {
    color: #E91E63;
}







