extends layout

block content
    <!-- particles.js container -->
    <div id="particles-js"></div>

    div#content.max1140

        article#slider

            input#slide1.forslider(checked="" type="radio" name="slider")
            input#slide2.forslider(type="radio" name="slider")
            input#slide3.forslider(type="radio" name="slider")
            input#slide4.forslider(type="radio" name="slider")
            input#slide5.forslider(type="radio" name="slider")
            input#slide6.forslider(type="radio" name="slider")
            input#slide7.forslider(type="radio" name="slider")
            input#slide8.forslider(type="radio" name="slider")
            input#slide9.forslider(type="radio" name="slider")
            
            div#slides
                div#overflow
                    div.inner
                        article
                            img(src="/img/slide1.png")
                        article
                            img(src="/img/slide2.png")
                        article
                            img(src="/img/slide3.png")
                        article
                            img(src="/img/slide4.png")
                        article
                            img(src="/img/slide5.png")
                        article
                            img(src="/img/slide6.png")
                        article
                            img(src="/img/slide7.png")
                        article
                            img(src="/img/slide8.png")
                        article
                            img(src="/img/slide9.png")

        
            div#controls
                label(for="slide1")
                label(for="slide2")
                label(for="slide3")
                label(for="slide4")
                label(for="slide5")
                label(for="slide6")
                label(for="slide7")
                label(for="slide8")
                label(for="slide9")

            
            div#active
                label(for="slide1")
                label(for="slide2")
                label(for="slide3")
                label(for="slide4")
                label(for="slide5")
                label(for="slide6")
                label(for="slide7")
                label(for="slide8")
                label(for="slide9")


        //div.clearfix.feature-list
            div.col-xs-12.col-sm-6.fl1
                img(alt="" src="/img/feature-list1.png")
            div.col-xs-12.col-sm-6.fl2
                img(alt="" src="/img/feature-list2.png")

        div.btn-wrap
            a.bigbtn(href="/second") Show me the magic


    script(src="/js/particles.js")
    script(src="/js/app.js")



