doctype html
html

    head
        title=title

        meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")

        <!-- Latest compiled and minified CSS -->
        link(rel="stylesheet", href="/stylesheets/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")

        <!-- google fonts - Lato and raleway -->
        link(rel="stylesheet", href="/stylesheets/css.css")

        <!-- custom css goes here -->
        link(rel="stylesheet", href="/stylesheets/style.css")
        link(rel="stylesheet", href="/stylesheets/font-awesome.css")

        <!-- Latest compiled and minified JavaScript -->
        script(src="/js/jquery-3.1.0.min.js")
        script(src="/js/bootstrap.min.js")

        <!-- loading wavesurfer.js -->
        script(src="/js/wavesurfer.min.js")

        style.
            @font-face {
                font-family: 'comfortaalight';
                src: url('/fonts/comfortaa-light.eot');
                src: url('/fonts/comfortaa-light.eot?#iefix') format('embedded-opentype'),
                     url('/fonts/comfortaa-light.woff2') format('woff2'),
                     url('/fonts/comfortaa-light.woff') format('woff'),
                     url('/fonts/comfortaa-light.ttf') format('truetype'),
                     url('/fonts/comfortaa-light.svg#comfortaalight') format('svg');
                font-weight: normal;
                font-style: normal;
                -webkit-font-smoothing: antialiased;
            }
    body
        header
            div.max1140
                div.logo-wrap
                    h1.logo Audio Sense

        
        block content

        footer
            div.gohlogo.max1140
                &copy; TheUsualSuspects. Made while singing and dancing in <img alt="" src="img/goh2016-logo.png" />
