extends layout

block content
    div#content.max1140
        div.select-wrap
            h5.instruction-txt Select a Conversation
            div.dd-wrap
                div.selectbox
                    span.default-txt Select Sound File
                    span.selected-txt.hide
                    i.fa.fa-chevron-down

                div.dd
                    ul#sound-list

        div
            div#waveform 

        div.afilelist-wrap
            //- div.loader
            //-     i.fa.fa-spinner.fa-spin
            div.loader2
                span
                span
                span
                span
                span
            ul.afile-list
                li
                    h4.sample-name
                    ul.tag-list
                        li.col-xs-2.tag.unit-size(data-value="Property Requirements - Unit Size")
                            i
                            span.txt Property Requirements - Unit Size
                        li.col-xs-2.tag.budget(data-value="Property Requirements - Budget")
                            i
                            span.txt Property Requirements - Budget
                        li.col-xs-2.tag.location(data-value="Property Requirements - Location")
                            i
                            span.txt Property Requirements - Location
                        li.col-xs-2.tag.furnishing(data-value="Property Requirements - Furnishing")
                            i
                            span.txt Property Requirements - Furnishing
                        li.col-xs-2.tag.possession(data-value="Property Requirements - Possession")
                            i
                            span.txt Property Requirements - Possession
                        li.col-xs-2.tag.sale-type(data-value="Property Requirements - Sale Type")
                            i
                            span.txt Property Requirements - Sale Type
                        li.col-xs-2.tag.parking(data-value="Property Requirements - Parking")
                            i
                            span.txt Property Requirements - Parking
                        li.col-xs-2.tag.home-loan.active(data-value="Home Loan")
                            i
                            span.txt Home Loan
                        li.col-xs-2.tag.site-visit(data-value="Site Visit")
                            i
                            span.txt Site Visit
                        li.col-xs-2.tag.number-change(data-value="Phone Number Exchange")
                            i
                            span.txt Phone Number Exchange
                        li.col-xs-2.tag.call-back(data-value="Ask for a Call back")
                            i
                            span.txt Ask for a Call back
                        li.col-xs-2.tag.commission(data-value="Broker Commission")
                            i
                            span.txt Broker Commission
                        li.col-xs-2.tag.not-available(data-value="Property Not Available")
                            i
                            span.txt Property Not Available
                        li.col-xs-2.tag.reference(data-value="Reference to a Listing")
                            i
                            span.txt Reference to a Listing
                        li.col-xs-2.tag.token(data-value="Transaction - Token Money")
                            i
                            span.txt Transaction - Token Money
            div.clearfix


    script(type="text/javascript", src="/js/second.js")




