extends layout

block content
    div#content.max1140
        div.select-wrap
            h5.instruction-txt Select the file you want to tag
            div.dd-wrap
                div.selectbox
                    span.default-txt Select file
                    span.selected-txt.hide sample file 1
                    i.fa.fa-chevron-down

                div.dd
                    ul
                        li#file1.clearfix
                            span.file-name sample file 1
                            span.process(title="start processing")
                                i.fa.fa-play
                        li#file2.clearfix
                            span.file-name sample file 2
                            span.process(title="start processing")
                                i.fa.fa-play
                        li#file3.clearfix
                            span.file-name sample file 3
                            span.process(title="start processing")
                                i.fa.fa-play
                        li#file4.clearfix
                            span.file-name sample file 4
                            span.process(title="start processing")
                                i.fa.fa-play

        div
            div#waveform 

        div.afilelist-wrap
            ul.afile-list
                li
                    h4.sample-name sample 1 goes here
                    ul.tag-list
                        li.tag.unit-size
                            i
                            span.txt Property Requirements - Unit Size
                        li.tag.budget
                            i
                            span.txt Property Requirements - Budget
                        li.tag.location
                            i
                            span.txt Property Requirements - Location
                        li.tag.furnishing
                            i
                            span.txt Property Requirements - Furnishing
                        li.tag.possession.active
                            i
                            span.txt Property Requirements - Possession
                        li.tag.sale-type
                            i
                            span.txt Property Requirements - Sale Type
                        li.tag.parking
                            i
                            span.txt Property Requirements - Parking
                        li.tag.home-loan
                            i
                            span.txt Home Loan
                        li.tag.site-visit
                            i
                            span.txt Site Visit
                        li.tag.number-change
                            i
                            span.txt Phone Number Exchange
                        li.tag.call-back
                            i
                            span.txt Ask for a Call back
                        li.tag.commission
                            i
                            span.txt Broker Commission
                        li.tag.not-available
                            i
                            span.txt Property Not Available
                        li.tag.reference
                            i
                            span.txt Reference to a Listing
                        li.tag.token
                            i
                            span.txt Transaction - Token Money


    script(type="text/javascript", src="/js/second.js")




